
/* @font-face {
    font-family: 'Mominacute-Regular';
    src: url('assets/Mominacute-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.centered-image {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%; /* keeps it centered vertically */
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}

.gallery {
    display: inline-block;
    border: 2px solid rgb(36, 97, 247);
    margin: 5px;
    width: 22%; 
}

.gallery .caption {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    border: 2px solid white;
}

.gallery img {
    width: 100%;
    height: auto;
}
*/
/* Used for the intro for the Art Portfolio Page */
.invisible-rectangle {
    height: 320px;
    width: auto; 
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Mominacute-Regular', sans-serif;
  }
  

body {
    background-color:rgb(133, 176, 255);
}

/* return button */
.bottom-left-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 115px; /* optional: control size */
    height: auto;
    z-index: 1000; /* ensures it's on top */
  }

