.center-img {
  display: flex;
  justify-content: center;   /* Center horizontally */
  align-items: center;       /* Center vertically */
  height: 100vh;             /* Fill screen height */
}

.center-text {
  display: flex;
   justify-content: center;    /* horizontal */
   align-items: center;        /* vertical */
   height: 100vh;
   text-align: center;
}

@font-face {
  font-family: 'Mominacute';
  src: url('assets/Mominacute-Regular.ttf') format('truetype');
}
  
 .custom-font {
   font-family: 'Mominacute', sans-serif;
}